<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1019523186483-l4dercul31kcod6v7s7iv6th6fuv685o.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1019523186483-l4dercul31kcod6v7s7iv6th6fuv685o</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1019523186483-n35rd1js75ccjj43qckitksa9qu7hrun.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAwsdooX1N3iX79x-7YnBfm4QdJVqS1nkQ</string>
	<key>GCM_SENDER_ID</key>
	<string>1019523186483</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.bukovec.projector</string>
	<key>PROJECT_ID</key>
	<string>projector-ed3cb</string>
	<key>STORAGE_BUCKET</key>
	<string>projector-ed3cb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:1019523186483:ios:0eda0296e5959807c34846</string>
	<key>DATABASE_URL</key>
	<string>https://projector-ed3cb.firebaseio.com</string>
</dict>
</plist>
